@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-100;
  color: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    background: rgb(0, 0, 0);
    color: white;
  }
}

input {
  @apply rounded-sm;
}

.nav-link {
}
